# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
.env


# VSCode / Editors
.vscode/
.idea/

# Node / Frontend
node_modules/
dist/
build/

# OS files
.DS_Store
Thumbs.db
